/*ASPECTOS GENERALES*/
body {
  background-color: #fbe5d6;
  font-family: "Righteous", sans-serif;
  margin: 0;
  padding: 0;
}

/*ENCABEZADO - TITULO WEB - MODULO - IMG*/
.content-dg {
  align-items: center;
  background-color: #442d21;
  border-bottom: 6px #c55a11 solid;
  color: #fbe5d6;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 20px;
}

/*icono ubicacion*/
.content-dg i {
  color: #fbe5d6;
}

/*IMAGEN SITIO WEB*/
.img-logo-dg {
  height: 55px;
  width: 80px;
}

/*TITULO SITIO WEB*/
.title-dg {
  font-size: 25px;
  letter-spacing: 18px;
  margin: auto;
}

/*BARRA DE NAVEGACION DE MODULOS*/
.nav {
  background-color: #eda053;
  border-bottom: 2px #442d21 solid;
  border-top: 17px #6f2d14 solid;
  display: flex;
  height: 30px;
  justify-content: space-between;
  padding: 10px;
}

/*ORIENTACION DE BARRA DE NAVEGACION */
.container-fluid {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*ROLE BUTTON BARRA DE NAVEGACION */
.nav-link {
  align-items: center;
  border-right: 3px solid #6f2d14;
  color: black;
  display: flex;
  justify-content: center;
  padding: 0 75px; /*70*/
  text-align: center;
  text-decoration: none;
}

/*QUITAR ULTIMA LINEA VERTICAL DE BARRA NAVEGACION*/
.nav a:last-child {
  border-right: none;
}

/*ICONOS*/
i {
  color: #442d21;
  font-size: 25px;
  margin-right: 3px;
}

/*DISPOSICION DE IMAGENES*/
.grid-venta{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 30px;
}

/*CONTENEDOR DE LA IMAGEN*/
.grid-venta .item-venta {
  background-color: #f1f1f1;
  border: 1.5px solid black;
  height: 70px;
  margin-left: 50px;
  padding: 0px;
  width: 120px;
}

/*TAMAÑO IMAGEN DE GALLETA*/
.img-cookie-venta {
  height: 70px;
  width: 120px;
}

/*CONTENEDOR DE BOTONES*/
.button-pagos-venta {
  display: flex;
  justify-content: space-between;
  margin-left: 2px;
  margin-right: 2px;
  padding: 47px;
}

/*ESTILOS PARA BOTONES TIPOS DE PAGOS*/
.button-pagos-venta .item-venta {
  background-color: #bf8441;
  border: 2px solid #976e35;
  height: 50px;
  margin-bottom: 10px;
  width: 100px;
}

/*CONTENEDOR DE BARRA DE TOTAL*/
.total-bar-venta {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-left: 325px;
  margin-right: 325px;
  width: 50%;
}

/*INPUT DONDE SE REFLEJA EL TOTAL*/
.input-total-venta {
  border: 3px solid #bf9a71;
  border-radius: 5px 0 0 5px;
  height: 20px;
  padding: 5px;
  width: 250px;
}

/*BOTON PARA GUARDAR VENTA*/
.guardar-button-venta {
  background-color: #975e35;
  border: none;
  border-radius: 0 8px 8px 0;
  color: black;
  cursor: pointer;
  height: auto;
  padding: 5px 10px;
  width: 100px;
}

/*ITEM SELECCIONADO*/
div.item-venta.selected {
    border: 2px solid red;
}

/*BOTON SELECCIONADO*/
button.item-venta.selected {
    border: 2px solid red;
}

/*POSICION DE MODAL SIN ACCIONAR*/
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    color: black;
    display: flex;
    opacity: 0;
    font-family: "Righteous", sans-serif;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

/*ESTILOS DENTRO DEL MODAL*/
.modal-contenido{
    margin: auto;
    width: 50%;
    max-width: 600px;
    max-height: 50%;
    border-radius: 6px;
    padding: 3em 2.5em;
    background-color: #fbe5d6;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
    font-family: "Righteous", sans-serif;
}


/*MODAL PARRAFOS*/
.modal-paragraph{
    margin-bottom: 10px;
}

/*ESTILOS PARA EL MODAL BOTONES*/
.modal-close{
    text-decoration: none;
    color: white;
    background-color: #bf8441;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: backgroun-color .3s;
    font-family: "Righteous", sans-serif;
}

.modal-accept{
    text-decoration: none;
    color: white;
    background-color: #bf8441;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: backgroun-color .3s;
    font-family: "Righteous", sans-serif;
}

/*ESTILOS PARA EL MODAL BOTONES - ACCION*/
.modal-close:hover{
    color: black;
    background-color: #975e35;
}


/*ESTILOS PARA EL MODAL BOTONES - ACCION*/
.modal-accept:hover{
    color: black;
    background-color: #975e35;
}

/*TRAER MODAL A PANTALLA*/
.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
    font-family: "Righteous", sans-serif;
}

/*DISPOSICION DE TEXTO DENTRO DE LA VENTANA MODAL*/
.columna-venta-modal {
    display: flex;
}

/*ESTILOS GENERALES PARA LOS BOTONES DENTRO DEL MODAL*/
.button-modal {
    flex: 50%;
    margin: 20px 40px 0 50px;
}

/*ESTILOS PATA LOS INPUTS DEL MODAL*/
.input-modal {
    height: 30px;
    flex: 50%;
    margin: 0 20px;
    
}
